<img class="for_info_only half" src="{{MEDIA}}title.png" style="float:left;max-height: 400px">
<p>
    Ніколі дуже подобається класифікувати усе, що потрапило йому на очі.
    Якось на його день народження Стефан подарував йому пристрій для маркування, та згодом
    роботи витратили багато часу відшкрябуючи наклейки з усіх поверхонь на кораблі.
    З того часу він класифікує реагенти у своїй лабораторії
    книги в бібліотеці та нотатки на дошці.
    Але потім він дізнався про {% if is_js %}Typescript <a target="_blank" href="https://www.typescriptlang.org/docs/handbook/2/objects.html">об'єкти</a>{% else %}<a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#mapping-types-dict">словники</a> Python{% endif %}
    та зробив класифікацію усіх можливих конфігурацій для дронів Софії.
    Тепер файли організовані у структуру із великою кількістю вкладень,
	але дронам Софії це не до вподоби. Давайте спробуємо допомогти Софії зробити ці {% if is_js %}об'єкти{% else %}словники{% endif %} більш простими.
</p>

<p>
    {% if is_js %}Об'єкти{% else %}Словники{% endif %} - це дуже зручні типи даних для зберігання, та обробки будь яких конфігурацій.
    Вони дозволяють зберігати дані за допомогою ключів для створення структури з багатьма вкладеннями.
    Маємо {% if is_js %}об'єкт{% else %}словник{% endif %}, в якому ключами є рядки, а значення по ключах являє собою рядки або {% if is_js %}об'єкти{% else %}словники{% endif %}.
    Ціль завдання - спростити структуру {% if is_js %}об'єкта{% else %}словника{% endif %} зробивши її плоскою, але треба зберегти зв'язки по ключах.
    Результатом повинен стати {% if is_js %}об'єкт{% else %}словник{% endif %} без вкладених {% if is_js %}об'єктів{% else %}словників{% endif %}.
    Ключі мають містити шляхи, які складаються із батьківських ключів оригінального {% if is_js %}об'єкта{% else %}словника{% endif %}.
    Ці ключі у шляхах повинні розділятися між собою за допомогою символа <b>"/"</b>.
	Якщо значення за ключем є порожній {% if is_js %}об'єкт{% else %}словник{% endif %}, то таке значення повинне бути замінене на рядок у вигляді (<b>""</b>).
    Давайте поглянемо на приклад: 
</p>
<pre class="brush: python">
{
    "name": {
        "first": "One",
        "last": "Drone"
    },
    "job": "scout",
    "recent": {},
    "additional": {
        "place": {
            "zone": "1",
            "cell": "2"}
    }
}
</pre>
<p>
    Результат повинен бути:
</p>
{% if is_js %}
<pre class="brush: javascript">
{"name/first": "One",          // one parent
"name/last": "Drone",
"job": "scout",                // root key
"recent": "",                  // empty dict
"additional/place/zone": "1",  // third level
"additional/place/cell": "2"}
</pre>
{% else %}
<pre class="brush: python">
{"name/first": "One",           # one parent
 "name/last": "Drone",
 "job": "scout",                # root key
 "recent": "",                  # empty dict
 "additional/place/zone": "1",  # third level
 "additional/place/cell": "2"}
</pre>
{% endif %}

<p>
    <strong>Вхідні дані:</strong> Оригінальний словник із вкладеними словниками як тип {% if is_js %}Object{% else %}dict{% endif %}.
</p>

<p>
    <strong>Вихідні дані: </strong> Плоский словник як тип {% if is_js %}Object{% else %}dict{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Як це використовується:</strong>
    <i>
        Ця концепція може бути корисною, якщо вам потрібно розібрати конфігураційні файли, або 
	для систем предків - нащадків де потрібно спростити структуру, чи для будь яких файлових структур.
    Ви можете з легкістю модифікувати цю ідею для ваших власних потреб.
    Крім того, це корисна навичка для читання коду та пошуку дефектів.
    </i>
    
</p>

<p>
    <strong>Передумови:</strong>
    <ul>
        <li><i><strong>ключі</strong> в словнику - не порожні рядки;</i></li>
        <li><i><strong>значення</strong> в словнику рядки які складаються з інших словників;</i></li>
        <li><i>root_dictionary != {}.</i></li>
    </ul>
</p>
