<img class="for_info_only half" src="{{MEDIA}}title.png" style="float:left;max-height: 400px">
<p>
    Nikola likes to categorize everything in sight.
    One time Stephan gave him a label maker for his birthday,
    and the robots were peeling labels off of every surface in the ship for weeks.
    He has since categorized all the reagents in his laboratory,
    books in the library and notes on the desk.
    But then he learned about {% if is_js %}Typescript <a target="_blank" href="https://www.typescriptlang.org/docs/handbook/2/objects.html">objects</a>{% else %}Python <a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#mapping-types-dict">dictionaries</a>{% endif %},
    and categorized all the possible configurations for Sophia’s drones.
    Now the files are organized in a deep nested structure,
    but Sophia doesn’t like this. Let's help Sophia to flatten these {% if is_js %}objects{% else %}dictionaries{% endif %}.
</p>

<p>
    {% if is_js %}Typescript objects{% else %}Python dictionaries{% endif %} are a convenient data type to store and process configurations.
    They allow you to store data by keys to create nested structures.
    You are given a {% if is_js %}object{% else %}dictionary{% endif %} where the keys are strings and the values are strings or {% if is_js %}objects{% else %}dictionaries{% endif %}.
    The goal is flatten the {% if is_js %}object{% else %}dictionary{% endif %}, but save the structures in the keys.
    The result should be the a {% if is_js %}object{% else %}dictionary{% endif %} without the nested {% if is_js %}objects{% else %}dictionaries{% endif %}.
    The keys should contain paths that contain the parent keys from the original {% if is_js %}object{% else %}dictionary{% endif %}.
    The keys in the path are separated by a <b>"/"</b>. If a value is an empty {% if is_js %}object{% else %}dictionary{% endif %},
    then it should be replaced by an empty string (<b>""</b>). Let's look at an example:
</p>
<pre class="brush: python">
{
    "name": {
        "first": "One",
        "last": "Drone"
    },
    "job": "scout",
    "recent": {},
    "additional": {
        "place": {
            "zone": "1",
            "cell": "2"}
    }
}
</pre>
<p>
    The result will be:
</p>
{% if is_js %}
<pre class="brush: javascript">
{"name/first": "One",          // one parent
"name/last": "Drone",
"job": "scout",                // root key
"recent": "",                  // empty dict
"additional/place/zone": "1",  // third level
"additional/place/cell": "2"}
</pre>
{% else %}
<pre class="brush: python">
{"name/first": "One",           # one parent
 "name/last": "Drone",
 "job": "scout",                # root key
 "recent": "",                  # empty dict
 "additional/place/zone": "1",  # third level
 "additional/place/cell": "2"}
</pre>
{% endif %}

<p>
    <strong>Input:</strong> An original {% if is_js %}object{% else %}dictionary{% endif %} as a {% if is_js %}Object{% else %}dict{% endif %}.
</p>

<p>
    <strong>Output:</strong> The flattened {% if is_js %}object{% else %}dictionary{% endif %} as a {% if is_js %}Object{% else %}dict{% endif %}.
</p>

<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    <i>
        This concept can be useful if you need to parse config files and simplify structures
    for grandfathered systems and file structures.
    You can easily modify this idea for your own specifications.
    Besides that, it's a  useful skill to be able to read code and search for bugs.
    </i>
</p>

<p>
    <strong>Preconditions:</strong>
    <ul>
        <li><i><strong>keys</strong> in a dictionary are non-empty strings;</i></li>
        <li><i><strong>values</strong> in a dictionary are strings or dicts;</i></li>
        <li><i>root_dictionary != {}.</i></li>
    </ul>
</p>
