<img class="for_info_only half" src="{{MEDIA}}title.png" style="float:left;max-height: 400px">
<p>
    Никола обожает классифицировать все, что видит вокруг.
    Однажды Стефан подарил ему устройство для ярлыков на день рождение,
    и затем они неделями отдирали наклейки со всех поверхностей и вещей на корабле.
    Он категоризировал все реагенты в своей лаборатории, книги в библиотеке и даже заметки на столе.
    Но когда он узнал о том, что в {% if is_js %}Typescript есть <a target="_blank" href="https://www.typescriptlang.org/docs/handbook/2/objects.html">обьекты</a>{% else %}Python <a target="_blank" href="https://docs.python.org/3/library/stdtypes.html#mapping-types-dict">словари</a>{% endif %},
    он категоризировал все конфигурационные файлы дронов Софии.
    Теперь эти файлы организованы в сложную вложенную структуру, что очень не нравится Софии.
    Помогите ей упростить эти {% if is_js %}обьекты из обьектов{% else %}словари словарей{% endif %}.
</p>

<p>
    {% if is_js %}Обьекты{% else %}Словари{% endif %} - это удобный тип данных для хранения и обработки различных конфигураций.
    Они позволяют хранить данные по ключам и создавать вложенные структуры.
    Дан словарь, в котором в качестве ключей используются строки, а в качестве значений строки или словари.
    Необходимо сделать этот {% if is_js %}обьект{% else %}словарь{% endif %} "плоским", но сохранить структуру в ключах.
    Результатом будет {% if is_js %}обьект{% else %}словарь{% endif %} без вложенных {% if is_js %}обьектов{% else %}словарей{% endif %}.
    Ключи должны содержать путь, составленный из родительских ключей из начального {% if is_js %}обьекта{% else %}словаря{% endif %}, разделенных <b>"/"</b>.
    Если значение ключа есть пустой {% if is_js %}обьект{% else %}словарь{% endif %}, тогда оно должно быть заменено пустой строкой (<b>""</b>).
    Взглянем на пример:
</p>
<pre class="brush: python">
{
    "name": {
        "first": "One",
        "last": "Drone"
    },
    "job": "scout",
    "recent": {},
    "additional": {
        "place": {
            "zone": "1",
            "cell": "2"}
    }
}
</pre>
<p>
    Результатом будет:
</p>
{% if is_js %}
<pre class="brush: javascript">
{"name/first": "One",          // one parent
"name/last": "Drone",
"job": "scout",                // root key
"recent": "",                  // empty dict
"additional/place/zone": "1",  // third level
"additional/place/cell": "2"}
</pre>
{% else %}
<pre class="brush: python">
{"name/first": "One",           # one parent
 "name/last": "Drone",
 "job": "scout",                # root key
 "recent": "",                  # empty dict
 "additional/place/zone": "1",  # third level
 "additional/place/cell": "2"}
</pre>
{% endif %}

<p>
    <strong>Входные данные:</strong> Оригинальный словарь ({% if is_js %}Object{% else %}dict{% endif %}).
</p>

<p>
    <strong>Выходные данные: </strong> "Плоский" словарь ({% if is_js %}Object{% else %}dict{% endif %}).
</p>



<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Связь с реальной жизнью:</strong>
    <i>
        Методы из этой задачи будут полезны, чтобы разобрать и упростить структуры конфигураций или файлов.
    Вы легко можете улучшить данную концепцию для ваших конкретных задач.
    А также, чтение чужого кода и поиск ошибок - это очень полезный навык.
    </i>
</p>

<p>
    <strong>Предусловия:</strong>
    <ul>
        <li><i><strong>ключи</strong> в словаре - не пустые строки;</i></li>
        <li><i><strong>значения</strong> в словаре - строки или другие словари;</i></li>
        <li><i>root_dictionary != {}.</i></li>
    </ul>
</p>
